<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<appSettings>
		<add key="ServerTimeDiff" value="0" />
	</appSettings>
	<connectionStrings>
		<remove name="CUCDBConnectionString" />
		<!--<add name="CUCDBConnectionString" connectionString="Data Source=MAVRICKIT-22-PC\MAVRICKIT; Trusted_Connection=True;Initial Catalog=islamicfinancebd_CUCDB;" providerName="System.Data.SqlClient"/>-->
		<add name="CUC_ORGDBConnectionString" connectionString="Data Source=WEB\SQLSERVER; Initial Catalog=CUCTEST_DB; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<!--<add name="CUCDBConnectionString" connectionString="Server=cucwebappdb.db.9176098.hostedresource.com;Database=cucwebappdb;User ID=cucwebappdb; Password=PAssw0rd;" providerName="System.Data.Sqlclient"/>-->
    <add name="CUCDBConnectionString" connectionString="Data Source=CUC\SQLEXPRESS; Trusted_Connection=True;Initial Catalog=malvern;" providerName="System.Data.SqlClient" />
    <!--<add name="CUCDBConnectionString" connectionString="Data Source=MAVRICKSOFTWARE; Trusted_Connection=True;Initial Catalog=cucwebappdb;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CUCDBConnectionString" connectionString="Data Source=MAV-LAP-05-PC; Trusted_Connection=True;Initial Catalog=islamicfinancebd_CUCDB;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CUCDBConnectionString" connectionString="data source=204.93.193.254;Database=islamicfinancebd_CUCDB;User ID=islamicfinancebd_cuc;Password=cuc123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CUCDBConnectionString" connectionString="Data Source=MAVRICKIT-22-PC\MAVRICKIT; Trusted_Connection=True;Initial Catalog=islamicfinancebd_CUCDB;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CUCDBConnectionString" connectionString="data source=204.93.193.254;Database=islamicfinancebd_CUCDB;User ID=islamicfinancebd_cuc;Password=cuc123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CUCDBConnectionString" connectionString="server=.\SQLServer2008; database=islamicfinancebd_CUCDB; user id=sa; password=1a2B3c4D;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<customErrors mode="Off" />
		<sessionState timeout="525600"></sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies>
		</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms timeout="525600" />
		</authentication>
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<roleManager enabled="true" defaultProvider="CUCRoleProvider">
			<providers>
				<add name="CUCRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CUCDBConnectionString" applicationName="cuc" />
			</providers>
		</roleManager>
		<membership defaultProvider="RapidMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear />
				<add name="RapidMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="CUCDBConnectionString" applicationName="cuc" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" />
			</providers>
		</membership>
		<anonymousIdentification cookieless="AutoDetect" enabled="true" />
		<profile defaultProvider="rapid_ProfileProvider">
			<providers>
				<add name="rapid_ProfileProvider" connectionStringName="CUCDBConnectionString" applicationName="cuc" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
			<properties>
				<add name="FirstName" type="String" />
				<add name="IsStudent" type="Boolean" />
				<add name="Name" type="String" />
				<add name="Password" type="String" />
				<add name="No" type="String" />
				<add name="LastName" type="String" />
				<add name="card_id" type="String" />
				<add name="IsRead" type="Boolean" />
				<add name="RefereCode" type="String" />
				<group name="Address">
					<add name="Apt" type="String" />
					<add name="Street" type="String" />
					<add name="City" type="String" />
					<add name="PostalCode" type="String" />
					<add name="State" type="String" />
					<add name="Country" type="String" />
				</group>
				<group name="MemberPages">
					<add name="AvatarPhotoUrl" type="String" />
					<add name="BackgroundAudioUrl" type="String" />
					<add name="PrefferedCountry" type="String" />
					<add name="Email" type="String" />
					<add name="Fax" type="String" />
					<add name="PhoneNumber" type="String" />
					<add name="IsActive" type="Boolean" />
					<add name="IsConfirmed" type="Boolean" />
				</group>
			</properties>
		</profile>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!--<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>-->
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
			</controls>
		</pages>
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
