.tabel_input{
	width:98%;
	overflow:hidden;
	border-collapse:collapse;
	}
	
	.heading{
	width:98%;
	line-height:30px;
	overflow:hidden;
	background:#87dbe6;
	
	}
.tabel_input thead .heading th, .lvTable thead .heading th{
	border:1px solid #bbb;
	}
	
	#heading00{
	 width:100%;
	    overflow:hidden;
	}
.tabel_input tr, .lvTable tr
	{
	    width:100%;
	    overflow:hidden;
	    border-bottom:1px solid #bbb;
	    
	}
.tabel_input tr td, .lvTable tr td
{ border-right:1px solid #bbb;
    }	
 .tabel_input .row, .lvTable .row
{
    background: none repeat scroll 0 0 #F5F5F5; 
    }
 .tabel_input .row:hover, .lvTable .row:hover
 {
     background:#D7ECEF;
     }
 .tabel_input  .altrow, .lvTable .altrow
{
   background: none repeat scroll 0 0 #FFF3DB; 
    }
 .tabel_input  .altrow:hover, .lvTable .altrow:hover
{
   background:#D7ECEF; 
    }
    .row a, .altrow a
    {
        font-size:15px;
        line-height:30px;
        color:#000;
    }
    